
.profile-cont{
    margin-top: 4.1em;
}

.header2-cont{
    height: 90vh;
    /* background-color: teal; */
}
@media (min-width: 800px) {
  .profile-grid {
    display: grid;
    grid-template-columns: 0.1fr 2fr;
    grid-gap: 2em;
    height: 89vh;
  }

  .header2-cont {
    position: sticky;
    flex-direction: column;
  border-right: 2px solid var(--blue);
  justify-content:start
  }
  .navigation {
    position: static;
    margin-top: 4em;
  }
  
  .profile-cont {
    height: 80vh;
  }
  
  .profile-login {
    margin-right: 0;
  }
  
.profile-cont{
    margin-top: 0em;
}

}
