@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
:root{
    --blue: rgb(16,123,192);
    --montserrat:'Montserrat', sans-serif;
}

@media(min-width:1200px){
    .App{
        margin: 0em;
    }
}

.login-btn{
    padding: 8px;
    font-family: var(--montserrat);
    background-color: transparent;
    border: 1px solid grey;
}

.login-btn:hover{
    background-color: var(--blue);
    color: white;
}

.error404{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: red;
}